<!DOCTYPE html>
<html lang="en" class="bg">
    <head>
        <meta charset="UTF-8">
        <title>Spotify Playlist Automation - {{.DisplayName}}</title>
        <link rel="stylesheet" type ="text/css" href="/static/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
        <script src="/static/js/script.js"></script>
    </head>

    <body>
        <div class="nav-bar">
            <ul>
                <li><a href="/about">Home</a></li>
                <li><a class="active" href="#">Create Playlist</a></li>
                <li><a href="/playlist">Select Playlist</a></li>
                <li><a href="/songs">Your Top Songs</a></li>
                <li class="user">{{.DisplayName}} <i class="fa-solid fa-user"></i></li>
            </ul>
        </div>
        <div id="panel" class="animate">
            <div id="playlist-form">
                <h1 class="create">Create Playlist</h1>
                    <form action="" method="GET" autocomplete="off">
                        <label for="playlist-name">Playlist Name</label>
                        <input type="text" id="playlist-name" name="playlist-name"><br>

                        <label for ="description">Description</label>
                        <textarea id="description" name="description" placeholder="(Optional)"></textarea><br>

                            <div id="checkbox">
                                <input type="checkbox" id="public" name="public" value="true">
                                <label for="public">Make Playlist Private</label><br>
                            </div>
                        <button type="button" id="button" onClick="createPlaylist()">Create Playlist</button>
                    </form>
            </div>
        </div>
        <div id="media-player" class="animate">
            <div class="cover-art">
                <img src="../../static/img/acid.jpg" alt="music-cover" id="cover">
            </div>
            <div class="music-info">
                <h4>Artist Name - Song Name</h4>
            </div>
            <div class="progress-container">
                <div class="progress"></div>
            </div>
            <div class="navigation">
                <button id="prev" class="action-btn">
                    <i class="fas fa-backward"></i>
                </button>
                <button id="play" class="action-btn action-btn-big">
                    <i class="fas fa-play"></i>
                </button>
                <button id="next" class="action-btn">
                    <i class="fas fa-forward"></i>
                </button>
            </div>
        </div>
    </body>
</html>